*.m~
*.jpg
*.asv
*.avi
*.pyc
.ipynb_checkpoints/
.idea/
__pycache__/
*.swp
Movie-apc_red_bowl.mat
nonl_c.m
nonl_ceq.m
objfun.m
objfun_*.m
objterm_variance.m
objterm_isotropy.m
objterm_joints.m
objterm_omega.m
objterm_slack.m
Movie-apc_red_bowl.mat
objfun.m
nonl_c.m
nonl_ceq.m
src/symbolic_functions/nonl_c.m
src/symbolic_functions/nonl_ceq.m

mujoco_sim/records/
*.npy
*.npz
